.detalle-auto {
    display: flex;
    gap: 40px;
    background-color: white;
    padding: 30px;
}

.detalle-auto img {
    width: 55%;
    height: 400px;
    object-fit: cover;
}

.detalle-info {
    width: 45%;
}

.detalle-info h1 {
    margin-top: 0;
}

.detalle-info h2 {
    font-size: 30px;
}



.NombreUsuarioComentador{
    padding: 20px;
    display: flex;
    img{
        width: 30px;
        height: 30px;
    }
    h3{
        margin: 4px 10px;
    }
}

.comentario{
    p{
        margin: 0px 50px;
    }
    background-color: rgb(144, 255, 205);
    border-radius: 20px;
    width: 500px;
    margin: 20px 0px;
}

.comentarios{
    background-color: rgb(95, 220, 133);
    border-radius: 20px;
    padding: 5px;
    height: 500px;
    object-fit: cover;
    overflow:scroll;
    
}

form{
    background-color: rgb(11, 183, 100);
    padding: 10px;
    label{
        color: rgb(251, 252, 247);
    }
    font-size: 40px;
    #PreguntaComprador{
        background-color: rgb(252, 254, 250);
        font-size: 20px;
    }
}
#Pregunta{
    margin: 45px 0px;
}
.DetalleAuto{
    margin: 0px 40px;
}

#PreguntasComentarios{
    display: grid;
    gap: 15px;
    /* Cada línea representa una fila y cada nombre indica el área que ocupa. */
    grid-template-areas: 
    "section main" 
}


@media (max-width: 1098px) {

    .detalle-auto {
        flex-direction: column;
    }

    .detalle-auto img,
    .detalle-info {
        width: 100%;
    }
    .comentario{
        width: 100%;
    }
    .comentarios{
        object-fit: none;
        overflow: visible;
        height: 100%;
    }
    #PreguntasComentarios{
        display: grid;
         grid-template-areas: 
        "section" 
        "main"
    }
}